.movie-detail-container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
}

.movie-detail-content {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.movie-poster {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.movie-details {
  flex: 1;
  min-width: 300px;
}

.movie-details h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.movie-details p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  line-height: 1.6;
  color: #000;
}

.title-and-heart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heart-icon {
  cursor: pointer;
  transition: transform 0.2s;
}

.heart-icon:hover {
  transform: scale(1.1);
}

.back-to-home-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  background: linear-gradient(45deg, #fbd500, #ff6b35);
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.2s;
}

.back-to-home-btn:hover {
 background: linear-gradient(45deg, #ff6b35, #fbd500);
}


.recommendations {
  margin-top: 3rem;
}

.recommendations h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #222;
}

.recommendations p{
  color: #000;
}

.recommendation-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.rec-card {
  width: 150px;
  text-decoration: none;
  color: #000;
  transition: transform 0.3s;
}

.rec-card img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.rec-card:hover {
  transform: scale(1.05);
}

.rec-card p {
  text-align: center;
  font-size: 0.95rem;
  font-weight: 500;
  color: #000;
}


.reviews {
  margin-top: 3rem;
}

.reviews h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #222;
}

.reviews p{
  color: #000;
}

.reviews ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000;
}

.reviews li {
  background-color: #fafafa;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  border-left: 6px solid #ffc107;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: black;
}

.reviews li strong {
  display: block;
  margin-bottom: 0.4rem;
  color: #333;
}
